#!/bin/bash

# The username to the used SMTP server
export PERISCOPE_SMTP_USERNAME=

# The password to the used SMTP server
export PERISCOPE_SMTP_PASSWORD=

# The SMTP server host
export PERISCOPE_SMTP_HOST=

# The SMTP server port
export PERISCOPE_STMP_PORT=

# The value of the from field in emails sent by the system for notifications
export PERISCOPE_SMTP_FROM=

# URL of Cloudbreak where Periscope connects to http://HOST:PORT
export PERISCOPE_CLOUDBREAK_URL=

# URL of the identity server (UAA) http://HOST:PORT
export PERISCOPE_IDENTITY_SERVER_URL=

# Client password for UAA
export PERISCOPE_CLIENT_SECRET=
